//! **************************************************************************
// Written by: Map J.40 on Fri Apr 10 19:38:12 2026
//! **************************************************************************

SCHEMATIC START;
COMP "FreqVar" LOCATE = SITE "B5" LEVEL 1;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "Clk" LOCATE = SITE "M6" LEVEL 1;
COMP "sda" LOCATE = SITE "B7" LEVEL 1;
COMP "scl" LOCATE = SITE "C5" LEVEL 1;
COMP "led_bad_ftment" LOCATE = SITE "M5" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
